@import url('./normalize.css');

body {
    font-family: 'Open Sans', serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;

}
.cover {
    /*position: relative;*/
    height: 100vh;
    z-index: 1;
     width: 100%;
}
.cover:before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('/static/images/fon.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    /*filter: blur(2px) brightness(95%);*/
    filter: hue-rotate(0.5turn);
    opacity: 0.9;
    z-index: -1;
     width: 100%;
   height: 100%;
}

.player {
    background: #146570;
    padding: 0.5em 1.5em;
    color: #ffffff;
    font-size: 1.4em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom:20px;
    margin-top: 30px;
    border: 1px solid #f1f1f1;
}

.text {
    color: #131975; /* Цвет текста */
    font-size: 1.3em; /* Размер текста */
    font-weight: bold; /* Жирный шрифт */
    margin-bottom:10px;
    margin-top:10px;
}

.white_text {
    color: #ffffff; /* Цвет текста */
    font-size: 1.3em; /* Размер текста */
    font-weight: bold; /* Жирный шрифт */
    margin-bottom:10px;
    margin-top:10px;
}

.ball {
    background: radial-gradient(#540cd3, #147062);
    color: #ffffff; /* Цвет текста */
    text-align: left;
    font-size: 1.4em; /* Размер текста */
    font-weight: bold; /* Жирный шрифт */
    margin-bottom:30px;
    margin-top:5px;
    width: 110px;
    height: 50px;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.35)
}

.page_text {
    color: #000000; /* ��вет текста */
    font-size: 1.5em; /* Размер текста */
    font-weight: bold; /* ��ирный шрифт */
    margin: 0;
}

.page_button {
    background: #131975;
    padding: 0.25em 0.5em;
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    border: 1px solid #f1f1f1;
    border-radius: 0.25em;
    transition: background 0.3s ease-in-out;
}

.page_button:hover {
    background: #147062;
    color: #ffffff;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    box-shadow: 2px 2px 2px 1px #000000;
}
.page_current {
   background: #147062;
    padding: 0.25em 0.5em;
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    border: 1px solid #f1f1f1;
    border-radius: 0.25em;
    transition: background 0.3s ease-in-out;
}
.creater {
    background: #131975;
    padding: 0.5em 1.5em;
    color: #ffffff;
    font-size: 1.4em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top:20px;
    border: 1px solid #f1f1f1;
}

.main_button {
    background: #131975;
    padding: 0.5em 1.5em;
    color: #ffffff;
    font-size: 1.0em;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #f1f1f1;
    text-align-last: left;
}

.back_button {
    background: #131975;
    padding: 0.5em 1.5em;
    color: #ffffff;
    font-size: 1.0em;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #f1f1f1;
    text-align-last: center;
    display:inline-block;
    width: 140px;
}

.inputer {
    background: #ffffff;
    padding: 0.5em 1.5em;
    color: #000000;
    font-size: 1.4em;
    margin-top:20px;
    border: 1px solid #f1f1f1;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.purple_fon {
    background: radial-gradient(#ccc4c4, rgb(124, 163, 157));
}

.green_fon {
     background: -webkit-linear-gradient(#62a0ea,#3d5469, #447c73);
     height: 100vh
}
.items {
    margin-top: 80px
}

.table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 20px;
    margin: auto;
    border-collapse: collapse;
    text-align: center;
    margin-top:30px;
}
th, td:first-child {
    background: radial-gradient(#ffffff, #c3c2c5);
    color: #000000;
    padding: 10px 20px;
}
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: rgba(80, 78, 78, 0.37);
}
td {
    background: #000000;
}
th:first-child, td:first-child {
    text-align: left;
}