<!DOCTYPE html>
<html lang="en">
<head>
	<link href="../static/normalize.css" rel=stylesheet type="text/css">
	<link href="../static/styles.css" rel=stylesheet type="text/css">
	<meta charset="UTF-8">
	<title>Error</title>
</head>
<body class="purple_fon">
<h1 style="text-align-last: center">Error</h1>
<div style="text-align-last: center">
	<h2 style="text-align-last: center">{{error.message}}</h2>
	<div class="items">
		{% if error.message != 'Нет такого url'%}
		<div style="margin-top: 20px">
			{% if error.message == 'Нет матча с таким uuid' %}
				<a class="creater" href='/new-match'>Back <<</a>
			{% endif %}
				{% if error.message != 'Не указан uuid' %}
			<a class="creater" href={{error.path}}>Back <<</a>
				{% endif %}
		</div>
		{% endif %}
		<div style="margin-top: 80px">
			<a class="creater" href='/'>Main page <<</a>
		</div>
	</div>
</div>
</body>
</html>




