<!DOCTYPE html>
<html lang="en">
<head>
	<link rel=stylesheet type="text/css" href="../static/normalize.css">
	<link rel=stylesheet type="text/css" href="../static/styles.css">
	<meta charset="UTF-8">
	<title>Main</title>
</head>
<body class="cover">
<h1 style="text-align-last: center">Tennis Scoreboard </h1>
<div style="text-align-last: center">
	<div class="items">
		<a href='/matches' class="creater">Finished matches</a>
	</div>
	<div class="items">
		<a href='/new-match' class="creater">Create new match</a>
	</div>
</div>
</body>
</html>




