<!DOCTYPE html >
<html lang="en">
<head>
	<link href="../static/normalize.css" rel=stylesheet type="text/css">
	<link href="../static/styles.css" rel=stylesheet type="text/css">
	<meta charset="UTF-8">
	<title>Match score</title>
</head>
<body class="green_fon">
<div style="margin-top: 20px">
	<a class="main_button" href='/'>Main page <<</a>
	<a class="back_button" href='/new-match'>Back <<</a>
</div>
<h1 style="text-align-last: center">Match score {{match.Player1.name}} vs {{match.Player2.name}} </h1>
<div style="text-align-last: center">
	<table class="table">
		<tr>
			<th>players</th>
            {% if match.winner %}
                     <th> sets</th>
            {% else %}
			    {% for key in ['points', 'games', 'sets'] %}
{#                    {%  if key == 'sets' %}#}
{#                     <th class="purple_fon"> {{ key }}</th>#}
{#                    {% else %}#}
                     <th> {{ key }}</th>
{#                    {%  endif %}#}
                {% endfor %}
            {% endif %}
            {% if match.score.player1.completed_sets or match.score.player2.completed_sets%}
                {% for i in range(match.score.player1.completed_sets|length) %}
                <th>set {{i + 1}}</th>
                {% endfor %}
            {% endif %}
		</tr>
		<tr>
			<th>
				<form action='/match-score' method="post">
					<div>
						<div class="row">
							<p class="text">{{match.Player1.name}}</p>
							{% if match.player1 == match.winner %}
							<p> &#127942 </p>
							{% endif %}
						</div>
						{% if not match.winner %}
						<button
								class="ball"
								name="player1"
								type="submit"
								value="{{match.player1}}">Ball
							<input name="uuid" type="hidden" value="{{match.uuid}}">
						</button>
						{% endif %}
					</div>
				</form>
			</th>
                {% if not match.winner %}
                    {% for key, value in match.score.player1.items() %}
                        {% if key != 'completed_sets' and key != 'sets' %}
                        <th> {{ value }}</th>
                        {% endif %}
                         {% if key == 'sets'%}
                        <th class = "purple_fon"> {{ value }}</th>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <th class = "purple_fon"> {{  match.score.player1.sets }}</th>
                {% endif %}

            {% if match.score.player1.completed_sets%}
                {% for i in match.score.player1.completed_sets %}
                <th> {{i}}</th>
                {% endfor %}
            {% endif %}
		</tr>

		<tr>
			<th>
				<form action='/match-score' method="post">
					<div>
						<div class="row">
							<p class="text">{{match.Player2.name}}</p>
							{% if match.player2 == match.winner %}
							<p> &#127942 </p>
							{% endif %}
						</div>
						{% if not match.winner %}
						<button
								class="ball"
								name="player2"
								type="submit"
								value="{{match.player2}}">Ball
							<input name="uuid" type="hidden" value="{{match.uuid}}">
						</button>
						{% endif %}
					</div>
				</form>
			</th>
			{% if not match.winner %}
                    {% for key, value in match.score.player2.items() %}
                        {% if key != 'completed_sets' and key != 'sets' %}
                        <th> {{ value }}</th>
                        {% endif %}
                         {% if key == 'sets'%}
                        <th class = "purple_fon"> {{ value }}</th>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <th class = "purple_fon"> {{  match.score.player2.sets }}</th>
                {% endif %}
            {% if match.score.player2.completed_sets%}
                {% for i in match.score.player2.completed_sets %}
                <th> {{i}}</th>
                {% endfor %}
            {% endif %}
		</tr>
	</table>
	{% if match.winner %}
	<h1 class="white_text_big"> Match finished</h1>
	{% endif %}
</div>
</body>
</html>


