<!DOCTYPE html>
<html lang="en">
<head>
	<link href="../static/normalize.css" rel=stylesheet type="text/css">
	<link href="../static/styles.css" rel=stylesheet type="text/css">
	<meta charset="UTF-8">
	<title>Finished matches</title>
</head>
<body class="cover">
<div style="margin-top: 20px">
	<a class="main_button" href='/'>Main page <<</a>
</div>
<h1 style="text-align-last: center">Finished matches</h1>
<div style="text-align-last: center">
	<form action='/matches' method="get">
		<select class="inputer" name="filter_by_player_name">
			{% if pagination.filtered_param %}
			<option value=''>{{pagination.filtered_param}}</option>
			{% else %}
			<option value=''>Selected player name</option>
			{% endif %}
			{% for player in players %}
			<option value="{{player.name}}">
				{{player.name }}
			</option>
			{% endfor %}
		</select>
		<button class="creater" type="submit"> Filter by player name</button>
	</form>
	<form action='/matches' method="get">
		<button class="creater">All matches</button>
	</form>
</div>
{% if matches %}
<table class="table">
	<tr>
		<th class="text">Number</th>
		<th class="text">Player1</th>
		<th class="text">Player2</th>
		<th class="text">Winner &#127942;</th>
	</tr>
	<tr>
		{% for match in matches %}
		<th style="text-align-last: center">
			{{ loop.index + pagination.page_size * pagination.page -
			pagination.page_size}}
		</th>
		<th style="text-align-last: center">
			{{ match.Player1.name}}
		</th>
		<th>
			{{ match.Player2.name}}
		</th>
		<th>
			{{ match.Winner.name}}
		</th>
	</tr>
	{% endfor %}
</table>
<div style="text-align-last: center">
	<form action='/matches' method="get">
		<div class="row">
			<p class="page_text">Pages:</p>
			{% for page in range(pagination.start_page, pagination.last_page + 1) %}
			{% if page % 5 == 1 and page != 1 %}
			<button
					class="page_button"
					name="back_page"
					type="submit"
					value="{{ page}}"
			>
				back <
			</button>
			{% endif %}
			{% if page % 5 == 0 and page != pagination.start_page and
			pagination.count_pages > pagination.last_page %}
			{% if page == pagination.page %}
			<button
					class="page_current"
					name="page"
					type="submit"
					value="{{ page}}"
			>
				{{ page }}
			</button>
			{% else %}
			<button
					class="page_button"
					name="page"
					type="submit"
					value="{{ page}}"
			>
				{{ page }}
			</button>
			{% endif %}
			<button
					class="page_button"
					name="last_page"
					type="submit"
					value="{{ page}}"
			>
				>> next
			</button>
			{% else %}
			{% if page == pagination.page %}
			<button
					class="page_current"
					name="page"
					type="submit"
					value="{{ page}}"
			>
				{{ page }}
			</button>
				{% else %}
				<button
						class="page_button"
						name="page"
						type="submit"
						value="{{ page}}"
				>
					{{ page }}
				</button>
				{% endif %}
				{% endif %}
				{% endfor %}
				{% if pagination.filtered_param %}
				<input name="filter_by_player_name" type="hidden" value="{{pagination.filtered_param}}">
				{% endif %}
		</div>
	</form>
	{% else %}
	<h1 class="white_text_big" style="text-align-last: center">No matches</h1>
	{% endif %}
</div>
</body>
</html>
