<!DOCTYPE html>
<html  lang="en">
<head>
    <link rel=stylesheet type="text/css" href="../static/normalize.css">
    <link rel=stylesheet type="text/css" href="../static/styles.css">
    <meta charset="UTF-8">
    <title>Finished matches</title>
</head>
<body class="cover">
 <div style="margin-top: 20px">
            <a href='/' class="main_button">Main page <<</a>
 </div>
 <h1 style="text-align-last: center">Finished matches</h1>

 <div style="text-align-last: center">
    <form action='/matches' method="post">
        <label>
         <input class="inputer"
          type="text"
          name="player_name"
          size="20" required
          placeholder="Введите имя игрока 1"
          minlength="2"
          maxlength="20" />
         <span class="validity"></span>
        </label>
        <button type="submit" class="creater">Filter by player name</button>
    </form>
    <form action ='/matches' method="get">
        <button class="creater">All matches </button>
    </form>

 </div>
 {% if matches %}
    <table class="table">
               <tr>
                   <th class="text">№ п/п</th>
                   <th class="text">Player1</th>
                   <th class="text">Player2</th>
                    <th class="text">Winner &#127942;</th>
               </tr>
                <tr>
                   {% for match in matches %}
                   <th style="text-align-last: center">
                       {{ loop.index + pagination.page_size * pagination.page_number - pagination.page_size}}
<!--                       {{match.id}}-->
                   </th>
                    <th style="text-align-last: center">
                          {{ match.Player1.name}}

                   </th>
                    <th>
                    {{ match.Player2.name}}
                         </th>
                    <th>
                    {{ match.Winner.name}}
                         </th>

                </tr>
      {% endfor %}
        </table>
    <div style="text-align-last: center">
        <form action='/matches' method="post">
            <div class="row">
                <p class="page_text">Pages:</p>
                    {% for page in range(pagination.start_page, pagination.last_page + 1) %}
                        {% if page % 5 == 1 and page != 1 %}
                         <button
                            class="page_button"
                            type="submit"
                            name="back_page"
                            value="{{ page}}"
                        >
                             back <<
                        {% endif %}
                        {% if page % 5 == 0 and page != pagination.start_page %}
                            <button
                            class="page_button"
                            type="submit"
                            name="page_number"
                            value="{{ page}}"
                        >
                            {{ page }}
                        </button>
                          <button
                            class="page_button"
                            type="submit"
                            name="last_page"
                            value="{{ page}}"
                        >
                            >> next
                        </button>
                      {% else %}
                       <button
                            class="page_button"
                            type="submit"
                            name="page_number"
                            value="{{ page}}"
                        >
                         {{ page }}
                       </button>
                         {% endif %}
                    {% endfor %}

            </div>
        </form>
    </div>
  {% else %}
    <h1 style="text-align-last: center">No matches</h1>
  {% endif %}
</body>
</html>
