<!DOCTYPE html>
<html lang="en">
<head>
	<link href="../static/normalize.css" rel=stylesheet type="text/css">
	<link href="../static/styles.css" rel=stylesheet type="text/css">
	<meta charset="UTF-8">
	<title>New match</title>
</head>
<body class="cover">
<div style="margin-top: 20px">
	<a class="main_button" href='/'>Main page <<</a>
</div>
<h1 style="text-align-last: center">New match</h1>
<div style="text-align-last: center">
	<form action='/new_match' method="post">
		<div>
			<label class="player" for="player1_name">Player 1</label>
			<input class="inputer"
				   id="player1_name"
				   maxlength="20"
				   minlength="2"
				   name="player1" placeholder="Введите имя игрока 1"
				   required
				   size="20"
				   type="text"/>
			<span class="validity"></span>
		</div>
		<div>
			<label class="player" for="player2_name">Player 2</label>
			<input class="inputer"
				   id="player2_name"
				   maxlength="20"
				   minlength="2"
				   name="player2"
				   placeholder="Введите имя игрока 2"
				   type="text"/>
			<span class="validity"></span>
		</div>
		<button class="creater" type="submit">Create new match</button>
	</form>
</div>
</body>
</html>


