<!DOCTYPE html>
<html lang="en" >
  <head>
      <link rel=stylesheet type="text/css" href="../static/normalize.css">
      <link rel=stylesheet type="text/css" href="../static/styles.css">
      <meta charset="UTF-8">
      <title>New match</title>
  </head>
  <body class="cover">
       <h1 style="text-align-last: center">New match</h1>
       <div style="text-align-last: center">
           <form action='/new_match' method="post">
                <div>
                   <label for="player1_name" class="player1">Player 1</label>
                    <input class="inputer"
                      type="text"
                      id="player1_name"
                      name="player1"
                      size="20" required
                      placeholder="Введите имя игрока 1"
                      minlength="2"
                      maxlength="20" />
                    <span class="validity"></span>
               </div>
               <div>
                   <label for="player2_name"  class="player1">Player 2</label>
                    <input class="inputer"
                       type="text"
                       id="player2_name"
                       name="player2"
                       placeholder="Введите имя игрока 2"
                       minlength="2"
                       maxlength="20" />
                     <span class="validity"></span>
               </div>
           <button type="submit" class="creater">Create new match</button>
           </form>
       </div>
  </body>
</html>


